 <!-- Start Footer Area -->
 <footer class="footer-area">
    <div class="container">
        <div class="subscribe-area">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="subscribe-content">
                        <h2>Abonnez-vous à notre Newsletter</h2>
                        <p>Recevez gratuitement dans votre boîte mail des conseils gratuits en assurances. Inscrivez-vous maintenant via le formulaire.</p>
                    </div>
                </div>

                <div class="col-lg-7 col-md-12">
                    <div class="subscribe-form">
                        <form action="/" method="POST" class="newsletter-form" data-toggle="validator">
                            <input type="email" class="input-newsletter" placeholder="Entrez votre adresse mail" name="newsletter_user_email" required autocomplete="off">

                            <button type="submit">S'incrire maintenant <i class="flaticon-right-chevron"></i></button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="/assets/img/logo_true.png" alt="Logo SMS Assurances"></a>

                        <p>SMS Assurances est l'agent général du groupe GNA Assurances à Marcory. Notre mission pricipale est de vous délivrer une assurance adaptée à votre situation en quelques heures.</p>
                    </div>

                    <ul class="social">
                        <li><a href="https://www.facebook.com/smsassurances1/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Liens rapides</h3>

                    <ul class="footer-quick-links">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/about">A propos de nous</a></li>
                        <li><a href="/#blog-area">Actualités</a></li>
                        <li><a href="/services">Assurances</a></li>
                        <li><a href="/terms">Termes et conditions</a></li>
                        <li><a href="/contact">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-sm-3 offset-md-3">
                <div class="single-footer-widget">
                    <h3>Informations de contact</h3>

                    <ul class="footer-contact-info">
                        <li><span>Localisation : </span> Quartier Brou Fulgence, Avenue de Côte d'Ivoire, en face du Groupe Scolaire Méa Kouadio et non loin de l'hôpital général de Marcory, Marcory, Abidjan, Côte d'Ivoire</li>
                        <li><span>Email :</span> <a href="#">smsassurances@gmail.com</a></li>
                        <li><span>Téléphone :</span> <a href="#">+(225) 48 48 05 05</a></li>
                        <li><a href="https://goo.gl/maps/cH5HcYvjEVzXgpc4A" target="_blank">Voir notre localisation sur GoogleMap</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p><i class="far fa-copyright"></i> 2020 SMS Assurances</p>
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6">
                    <ul>
                        <li><a href="/terms">Termes et conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class="fas fa-chevron-up"></i><i class="fas fa-chevron-up"></i></div>

<!-- jQuery Min JS -->
<script src="/assets/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Parallax Min JS -->
<script src="/assets/js/parallax.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/assets/js/owl.carousel.min.js"></script>
<!-- Slick Min JS -->
<script src="/assets/js/slick.min.js"></script>
<!-- MeanMenu JS -->
<script src="/assets/js/jquery.meanmenu.js"></script>
<!-- Appear Min JS -->
<script src="/assets/js/jquery.appear.min.js"></script>
<!-- Odometer Min JS -->
<script src="/assets/js/odometer.min.js"></script>
<!-- Nice Select Min JS -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- WOW Min JS -->
<script src="/assets/js/wow.min.js"></script>
<!-- AjaxChimp Min JS -->
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/assets/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="/assets/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>
    <script>
        function merci() {
            alert('Merci ! Votre demande a bien été prise en compte ! Nous vous contacterons sous 24h.');
        }
    </script>
</body>
</html>