<!-- Start Partner Area -->
<section class="partner-area">
    <div class="container">
        <div class="partner-title">
            <h2>Nos partenaires</h2>
        </div>

        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner-item">
                <a href="https://www.gna-assurances.com/" target="_blank">
                    <img src="assets/img/partner-image/1.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="https://smsimmobilier.net/" target="_blank">
                    <img src="assets/img/partner-image/2.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Partner Area -->