<%- include('partials/header') %>

    <!-- Start Error Area -->
    <section class="error-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="error-content">
                        <img src="/assets/img/404.png" alt="error">
    
                        <h3>Page Introuvable</h3>
                        <p>Erreur 404 - La page que vous recherchez est introuvable. Elle est peut-être inexistante.</p>
    
                        <a href="/" class="default-btn">Retourner à l'accueil <span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Error Area -->
        
<%- include('partials/footer') %>