<%- include('partials/header.ejs') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Qui sommes-nous ?</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Qui sommes-nous ?</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start About Area -->
        <section class="about-area ptb-100 bg-f8f8f8">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            <img src="assets/img/about-image/1.jpg" alt="image">
                            <img src="assets/img/about-image/2.jpg" alt="image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="about-content">
                            <span>A propos de nous</span>
                            <h2>L'Assurance, notre passion</h2>
                            <p>SMS Asurances est l'agent général du groupe GNA Assurances à Marcory.</p>
                            <p>Notre mission principale est de vous fournir en moins de 4 heures, le même jour, votre assurance avec les meilleurs avantages et garanties au prix le plus bas, un prix que vous ne trouverez nul part ailleurs.</p>
                        </div>
                    </div>
                </div>

                <div class="about-inner-area">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-text-box">
								<h3>Nos Valeurs</h3>
								<p>Chez SMS Assurances, nous partageons des valeurs de solidarité, d'entraide, de cohésion et de progrès pour un nouveau visage de l'assurance en Côte d'Ivoire. Nous croyons en nos clients et en leur sens de la responsabilité.</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-6">
							<div class="about-text-box">
								<h3>Notre Mission</h3>
								<p>Fournir en <strong>moins de 4 heures</strong>, le <strong>même jour</strong>, votre assurance avec les <strong>meilleurs avantages</strong> et <strong>garanties</strong> au <strong>prix le plus bas</strong>, un prix que vous ne trouverez nul part ailleurs. Telle est la mission de SMS Assurances.</p>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 offset-sm-3 col-sm-6">
							<div class="about-text-box">
								<h3>Un Mot Sur Le Groupe GNA</h3>
								<p>Générations Nouvelles d'Assurances (GNA) est l'un des leaders du secteur de l'Assurance en Côte d'Ivoire, fournissant des produits de qualité pour la satisfaction de toutes les couches sociales de Côte d'Ivoire.</p>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!-- End About Area -->

        <%- include('partials/whychoose') %>

        <!-- Start Services Area -->
        <section class="services-area ptb-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Nos produits</h2>
                    <p>Nos produits sont innovants avec une forte valeur ajoutée. Ils ont été étudiés pour vous couvrir dans les cas les plus délicats et sont directement accessibles sans engagement et procédures complexes. Nos produits reflètent le nouveau visage de l'assurance en Côte d'Ivoire.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="flaticon-home-insurance"></i>
    
                                <div class="icon-bg">
                                    <img src="assets/img/icon-bg1.png" alt="image">
                                    <img src="assets/img/icon-bg2.png" alt="image">
                                </div>
                            </div>
    
                            <h3><a href="/habitation">Multirisques Habitation</a></h3>
    
                            <p>Nous apportons des solutions concrètes pour vous permettre d'assurer votre logement en cas de sinistre.</p>

                            <br>
    
                            <a href="/habitation" class="read-more-btn">En savoir plus</a>
    
                            <div class="box-shape">
                                <img src="assets/img/box-shape1.png" alt="image">
                                <img src="assets/img/box-shape2.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="flaticon-insurance"></i>

                                <div class="icon-bg">
                                    <img src="assets/img/icon-bg1.png" alt="image">
                                    <img src="assets/img/icon-bg2.png" alt="image">
                                </div>
                            </div>

                            <h3><a href="/pro">Multirisques Professionnelle</a></h3>

                            <p>Nous mettons tout en oeuvre pour vous fournir l'assurance qu'il faut en cas d'incident professionnel.</p>

                            <a href="/pro" class="read-more-btn">En savoir plus</a>
    
                            <div class="box-shape">
                                <img src="assets/img/box-shape1.png" alt="image">
                                <img src="assets/img/box-shape2.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="flaticon-health-insurance"></i>

                                <div class="icon-bg">
                                    <img src="assets/img/icon-bg1.png" alt="image">
                                    <img src="assets/img/icon-bg2.png" alt="image">
                                </div>
                            </div>

                            <h3><a href="/health">Santé</a></h3>

                            <p>Nous travaillons durement pour la préservation de votre santé via des produits aux avantages et garanties exceptionnels.</p>

                            <a href="/health" class="read-more-btn">En savoir plus</a>
    
                            <div class="box-shape">
                                <img src="assets/img/box-shape1.png" alt="image">
                                <img src="assets/img/box-shape2.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="flaticon-travel-insurance"></i>

                                <div class="icon-bg">
                                    <img src="assets/img/icon-bg1.png" alt="image">
                                    <img src="assets/img/icon-bg2.png" alt="image">
                                </div>
                            </div>

                            <h3><a href="/travel">Voyage</a></h3>

                            <p>Pendant vos différents voyages, cette assurance vous accompagne de façon sécurisée.</p>

                            <br> <br>

                            <a href="/travel" class="read-more-btn">En savoir plus</a>
    
                            <div class="box-shape">
                                <img src="assets/img/box-shape1.png" alt="image">
                                <img src="assets/img/box-shape2.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="flaticon-car-insurance"></i>

                                <div class="icon-bg">
                                    <img src="assets/img/icon-bg1.png" alt="image">
                                    <img src="assets/img/icon-bg2.png" alt="image">
                                </div>
                            </div>

                            <h3><a href="/car">Auto Moto</a></h3>

                            <p>L'assurance auto-moto est une indispensable pour les conducteurs et propriétaires de véhicules motorisés, tant sur le plan légal que sécuritaire.</p>

                            <br>

                            <a href="/car" class="read-more-btn">En savoir plus</a>
    
                            <div class="box-shape">
                                <img src="assets/img/box-shape1.png" alt="image">
                                <img src="assets/img/box-shape2.png" alt="image">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="flaticon-life-insurance"></i>

                                <div class="icon-bg">
                                    <img src="assets/img/icon-bg1.png" alt="image">
                                    <img src="assets/img/icon-bg2.png" alt="image">
                                </div>
                            </div>

                            <h3><a href="/life">Individuelle Accident</a></h3>

                            <p>L'individuelle accident est un produit d'assurance incontournable pour les particuliers dans leur vie quotidienne, leur apportant plus de sécurité et sérenité.</p>

                            <a href="/life" class="read-more-btn">En savoir plus</a>
    
                            <div class="box-shape">
                                <img src="assets/img/box-shape1.png" alt="image">
                                <img src="assets/img/box-shape2.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Area -->

        <!-- Start Our Achievements Area -->
        <section class="achievements-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="achievements-content">
                            <div class="title">
                                <span class="sub-title">Number</span>
                                <h2>Our Achievements</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                    <div class="single-funfact">
                                        <i class="flaticon-flag"></i>
                                        <h3><span class="odometer" data-count="65">00</span></h3>
                                        <p>Countries</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-6 col-sm-4">
                                    <div class="single-funfact">
                                        <i class="flaticon-group"></i>
                                        <h3><span class="odometer" data-count="107">00</span> <span class="sign-icon">m</span></h3>
                                        <p>Clients</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-12 col-sm-4">
                                    <div class="single-funfact">
                                        <i class="flaticon-medal"></i>
                                        <h3><span class="odometer" data-count="150">00</span></h3>
                                        <p>Wining Awards</p>
                                    </div>
                                </div>
                            </div>

                            <div class="bg-dot"><img src="assets/img/bg-dot.png" alt="image"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="divider"></div>
                        <div class="achievements-image-slides owl-carousel owl-theme">
                            <div class="single-achievements-image bg1">
                                <img src="assets/img/achievements-img1.jpg" alt="image">
                            </div>

                            <div class="single-achievements-image bg2">
                                <img src="assets/img/achievements-img2.jpg" alt="image">
                            </div>

                            <div class="single-achievements-image bg3">
                                <img src="assets/img/achievements-img3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Achievements Area -->

        <%- include('partials/partners') %> <%- include('partials/footer') %>