<%- include('partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg9">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Assistance Automobile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Insurance Details Area -->
        <section class="insurance-details-area ptb-100">
            <div class="container">
                <div class="insurance-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3>L'assurance voyage pour tous vos déplacements</h3>

                                <p>Vous partez en voyage pour un week-end en amoureux, un séjour à la mer en famille, des vacances ou des études à l’étranger ? Avez-vous pensé à vous assurer ? Au premier abord, une assurance voyage peut vous paraître inutile. Mais nul n’est à l’abri d’un événement imprévu, qu’il s’agisse d’un problème médical avant le départ ou d’un incident pendant le voyage. </p>

                                <p>Pour partir sereinement, pensez à vous assurer. wwL’assurance voyage, c’est un ensemble de garanties et de services qui vous accompagnent avant (annulation de voyage), pendant (rapatriement médical, frais médicaux à l’étranger, retour anticipé...) et après votre voyage (aide-ménagère...)..</p>
                                <p>Nous avons des garanties et des prix avantageux adaptés à tous.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="image text-center">
                                <img src="assets/img/services-image/4.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="insurance-details-desc">
                    <h3>Quelques garanties incluses dans l'assurance voyage</h3>
                    <p>Voyage et tourisme nous annoncent des espaces nouveaux, différents, prometteurs de bien-être, de sensations fortes. Mais, aussi passionnantes qu’elles soient, ces promesses entraînent aussi vers tout un monde de risques nouveaux. Une assurance voyage est alors le moyen d’y faire face en cas de problème..</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Le vol, la perte ou la destruction de vos bagages et biens personnels</li>
                                <li><i class="fas fa-check"></i> Les soins médicaux et d’hospitalisation</li>
                                <li><i class="fas fa-check"></i> L’assistance rapatriement, suite à une maladie ou un accident survenu sur place</li>
                                <li><i class="fas fa-check"></i> La responsabilité civile à l’étranger</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Le décès ou l’invalidité suite à un accident</li>
                                <li><i class="fas fa-check"></i> Le remboursement des frais d’avocat et l’avance de caution pénale à l’étranger</li>
                                <li><i class="fas fa-check"></i> des bagages égarés dans un aéroport à l’autre bout du monde,</li>
                                <li><i class="fas fa-check"></i> Un accident dans un magasin de luxe qui entraine des dommages matériels
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3>Bien choisir son assurance avant de partir</h3>
                    <p>Avant de souscrire en ligne à un contrat d’assurance, pensez à vérifier les garanties couvertes, les faits générateurs qui les déclenchent (maladie, accident corporel, vol, perte ou détérioration des bagages...). Renseignez-vous sur les plafonds de ces garanties et sur les franchises applicables, sans oublier les exclusions de garanties en assurance voyage..</p>

                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/22.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/23.jpg" alt="image">
                            </figure>b
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/24.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                    <p>Privilégiez une assurance adaptée en fonction des risques sanitaires des pays où vous vous rendez, des montants de frais médicaux qui peuvent être élevés dans certains pays comme les Etats-Unis ou le Japon par exemple, ou du montant de votre séjour en cas d’annulation de voyage. Si vous souhaitez obtenir un visa d’entrée ou de séjour dans certains pays (Espace Schengen, Russie, etc.), une assurance de voyage peut être exigée..</p>

                    <blockquote class="wp-block-quote">
                        <p>N'allez jamais en voyage sans le sécuriser. Souscrivez à une assurance voyage adaptée à votre séjour !</p>

                        <cite>Tom Cruise</cite>
                    </blockquote>
                    
                    <p>Opter pour notre assurance voyage c’est bénéficier de la rigueur et de la solidité d’un grand groupe ainsi que d’une disponibilité 7 jours sur 7 et 24 heures sur 24. Nous sommes là pour vous conseiller, vous orienter et vous accompagner quel que soit votre pays de destination grâce à notre connaissance des structures médicales et des risques sanitaires et à nos réseaux de prestataires qui nous permettent d’intervenir rapidement en cas de besoin. Remplissez ce formulaire et nous vous contacterons.</p>


                    <div class="bg-light p-4 border-3">
                        <h3>Remplissez le formulaire pour obtenir une cotation</h3>
                        <form action="/travel" method="POST" onsubmit="merci()">
                            <div class="row">
                                <div class="form-group col">
                                    <input id="username" type="text" class="form-control" name="username" placeholder="Nom et prénoms *" required>
                                </div>
                                <div class="form-group col">
                                    <input type="email" class="form-control" name="email" placeholder="EMAIL *" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="phone" placeholder="Numéro de Téléphone *">
                                </div>
                                <div class="form-group col">
                                    <select name="type" required>
                                        <option selected value="Assurance Voyage">ASSURANCE VOYAGE</option>
                                    </select>
                                    <p>Type d'assurance *</p>
                                </div>
                            </div>
                            <div class="form-group col">
                                <input type="hidden" class="form-control" name="date" value="<%= currentDate %>">
                            </div>
                            <div class="row p-3">
                                <textarea name="message" class="form-control col" placeholder="Laissez-nous un message (facultatif)" rows="6" style="width: 90%;"></textarea>
                            </div>
                            <button type="submit" class="submitBtn default-btn btn-lg btn-block">Envoyer votre demande <span></span></button>
                            <br>
                            <br>
                            <br>
                            <p class="text-danger text-sm-left">* Les champs marqués avec une astérisque sont obligatoires.</p>
                        </form>
                    </div>


                    <div class="pearo-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="/health">
                                    <span class="image-prev">
                                        <img src="assets/img/services-image/3.jpg" alt="image">
                                        <span class="post-nav-title">Prec</span>
                                    </span>

                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Assurance santé</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">SMS Assurances</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="/car">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Assurance Auto Moto</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>

                                    <span class="image-next">
                                        <img src="assets/img/services-image/5.jpg" alt="image">
                                        <span class="post-nav-title">Suiv</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Insurance Details Area -->
<%- include('partials/footer') %>