<%- include('partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg5">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Assurance Auto Moto</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Assurance Auto Moto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Insurance Details Area -->
        <section class="insurance-details-area ptb-100">
            <div class="container">
                <div class="insurance-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3>L'assurance auto moto, pour sécuriser votre véhicule.</h3>

                                <p>Cette assurance permet d’être indemnisé en cas de survenance d’un sinistre matériel ou corporel, causé aux autres mais aussi à soi-même. L’assurance auto ou moto comporte une part d’assurance obligatoire et une part facultative. Le coût peut donc être très variable.</p>
                                <p>Pour bien choisir son assurance auto moto, il est nécessaire de fournir un certain nombre de renseignements comme le modèle de la moto, la date de mise en circulation, la carte grise, une partie de l’état civil et bien d’autres encore. À partir de là, il sera possible de vous fournir un devis qui vont varier selon les compagnies d’assurances. Les prix vont varier en fonction des renseignements fournis mais également en fonction du type de contrat proposé. Étant donné les risques importants avec les motos, il est conseillé de prendre une assurance plus chère, mais avec un contrat plus important.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="image text-center">
                                <img src="assets/img/services-image/5.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="insurance-details-desc">
                    <h3>Les garanties</h3>
                    <p>L'assurance automobile vous garantit non seulement des avantages financiers pour réparer votre voiture en cas d'accident, mais aussi offre les avantages de la récupération de vos frais médicaux en cas d'accident ayant affecté votre santé. Le contrat d'assurance permet de s'assurer que les bénéfices entiers revendiqués sont rapidement mis à votre disposition. Ces avantages sont mis à disposition si tous les critères requis mentionnés dans la convention sont respectées et après une rapide inspection menée par notre compagnie.</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Défense recours</li>
                                <li><i class="fas fa-check"></i> Protection juridique</li>
                                <li><i class="fas fa-check"></i> Assistance en cas de panne</li>
                                <li><i class="fas fa-check"></i> Catastrophes naturelles et attentats</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Bris de glace</li>
                                <li><i class="fas fa-check"></i> Incendie et explosion</li>
                                <li><i class="fas fa-check"></i> Vandalisme</li>
                                <li><i class="fas fa-check"></i> Vol</li>
                            </ul>
                        </div>
                    </div>

                    <h3>L'assurance automobile, une bonne couverture</h3>
                    <p>Si vous êtes responsable d’un accident de la route, votre assureur indemnisera tous les dommages subis par les victimes. La réparation du préjudice doit être intégrale. Tout est pris en compte : pretium doloris, déficit fonctionnel, préjudice esthétique, perte de revenus, aide à domicile, etc.</p>

                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/10.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/11.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/12.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                    <p>Si vous avez opté pour la formule au Tiers, nous allons vous indemniser la couverture des dommages causés sur l'autre voiture. Si vous vous êtes inscrit à une assurance Tiers amélioré, vous serez remboursé en cas de vol ou d'incendie. Quant à la formule Tous risques, son principal point fort est sa couverture pour tout accident. L'indemnisation est ainsi accordée, que le conducteur soit le responsable ou non de l'accident. En tort, l'assuré devra s'acquitter néanmoins d'une franchise dommages fixée contractuellement.</p>

                    <blockquote class="wp-block-quote">
                        <p>Que vous ayez une voiture ou un deux roues, l’assurance est obligatoire. Il existe deux grandes catégories de contrats pour les véhicules : l’assurance au tiers et l’assurance tous risques.</p>

                        <cite>Tom Cruise</cite>
                    </blockquote>
                    
                    <p>Pour souscrire à une assurance automobile chez nous ou renouveler votre contrat, merci de remplir ce formulaire de contact afin que nous vous contations pour vous faire une proposition. Nous sommes les moins chers du marché actuellement et nous avons des garanties exceptionnelles.</p>

                    <div class="bg-light p-4 border-3">
                        <h3>Remplissez le formulaire pour obtenir une cotation</h3>
                        <form action="/car" method="POST" onsubmit="merci()">
                            <div class="row">
                                <div class="form-group col">
                                    <input id="username" type="text" class="form-control" name="username" placeholder="Nom et prénoms *" required>
                                </div>
                                <div class="form-group col">
                                    <input type="email" class="form-control" name="email" placeholder="Email *" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="phone" placeholder="Numéro de Téléphone *">
                                </div>
                                <div class="form-group col">
                                    <select name="type" required>
                                        <option selected value="Assurance Automobile">ASSURANCE AUTOMOBILE</option>
                                        <option value="Assurance Moto">ASSURANCE MOTO</option>
                                        <option value="Assurance Camion">ASSURANCE CAMION</option>
                                        <option value="Assurance Tricycle">ASSURANCE TRICYCLE</option>
                                    </select>
                                    <p>Type d'assurance *</p>
                                </div>
                            </div>
                            <div class="form-group col">
                                <input type="hidden" class="form-control" name="date" value="<%= currentDate %>">
                            </div>
                            <div class="row p-3">
                                <textarea name="message" class="form-control col" placeholder="Laissez-nous un message (facultatif)" rows="6" style="width: 90%;"></textarea>
                            </div>
                            <button type="submit" class="submitBtn default-btn btn-lg btn-block">Envoyer votre demande <span></span></button>
                            <br>
                            <br>
                            <br>
                            <p class="text-danger text-sm-left">* Les champs marqués avec une astérisque sont obligatoires.</p>
                        </form>
                    </div>

                    <div class="pearo-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="/travel">
                                    <span class="image-prev">
                                        <img src="assets/img/services-image/4.jpg" alt="image">
                                        <span class="post-nav-title">Prec</span>
                                    </span>

                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Assurance Voyage</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="/life">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Individuelle Accident</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>

                                    <span class="image-next">
                                        <img src="assets/img/services-image/3.jpg" alt="image">
                                        <span class="post-nav-title">Suiv</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Insurance Details Area -->
<%- include('partials/footer') %>