<%- include('./partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Termes et conditions d'utilisation</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Termes et conditions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start FAQ Area -->
        <section class="faq-area ptb-100">
            <div class="container-fluid p-0">
                <div class="row m-0 d-flex justify-content-center text-center">
                    <div class="col-lg-10 col-md-12 p-0">
                        <h2>Termes et conditions d'utilisation du site SMS Assurances</h2>
                        <div class="faq-accordion">
                            <h5>Les présentes conditions générales représentent l'intégralité des engagements entre SMS ASSURANCES et les internautes. Si une ou plusieurs des dispositions des présentes conditions générales étaient invalidées pour quelque cause que ce soit les autres dispositions garderont toute leur validité. En cas de difficulté d'interprétation entre l'un des titres et les clauses auxquelles ils se rapportent, le titre litigieux sera déclaré inexistant. Les présentes conditions générales, les règles de fond et les règles de forme, sont régies par la législation ivoirienne. SMS ASSURANCES se réserve la faculté de modifier les dispositions des présentes conditions générales.</h5>

                            <ul class="accordion">
                                <li class="accordion-item">
                                    <a class="accordion-title active" href="javascript:void(0)">
                                        <i class="fas fa-plus"></i>
                                        01 - Traitement des données à caractère personnel 
                                    </a>

                                    <p class="accordion-content show">SMS ASSURANCES est respectueuse de votre vie privée et de vos données personnelles, conformément à la loi N°2013-450 du 19 Juin 2013 relative à la protection des données à caractère personnel applicable en Côte d'Ivoire.Conformément à la loi sus indiquée, vous disposez d'un droit d'accès de rectification et de suppression des données qui vous concernent. Pour l'exercer, adressez une demande écrite à : SMS ASSURANCES par Email: contact@smsassurances.net.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fas fa-plus"></i>
                                        02 - Disponibilité du service
                                    </a>

                                    <p class="accordion-content">SMS ASSURANCES s'efforce de proposer un service disponible 7 jours sur 7 et 24 heures sur 24. Cependant elle ne pourrait être tenue comme responsable de la non disponibilité du site internet https://sms-assurances.net/ quelles que soient les raisons : indisponibilité de votre fournisseur d'accès, de notre hébergeur, opération de maintenance, etc...</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fas fa-plus"></i>
                                        03 - Limitation de responsabilité
                                    </a>

                                    <SMS class="accordion-content">SMS ASSURANCES apporte le plus grand soin aux informations communiquées sur le site et à leur mise à jour. Cependant les éléments de ce site sont fournis sans aucune garantie de quelque manière explicite ou implicite. 
                                    
                                    <br> <br>
                                    
                                    SMS ASSURANCES ne se porte pas garant et dénie toute responsabilité quant à l'utilisation ou aux conséquences de l'utilisation du contenu ou de tout autre élément de ce site.
                                    
                                    <br> <br>

                                    SMS ASSURANCES ne pourra être recherchée au titre de l'information et des services proposés sur le site, et le visiteur accepte que l'utilisation de ces informations et services s'effectue sous sa seule et entière responsabilité, contrôle et direction. SMS ASSURANCES n'a en aucun cas le devoir ni l'obligeance de mettre à jour quelque information contenue dans ce site. Ce site peut contenir des inexactitudes techniques ou des erreurs typographiques. Des changements peuvent être faits sur les différents éléments du site sans annonce préalable.
                                    
                                    <br> <br>

                                    SMS ASSURANCES ne se porte pas garant de la précision, perfection ou utilité de quelque information contenue dans ce site. Elle ne garantit pas les fonctionnalités incluses dans ce site. Sous aucune circonstance la nouvelle sms immobilier devrait être responsable pour quelconque dommage résultant de l'utilisation de, ou de l'incompétence à utiliser, ce site. La loi applicable n'autorise pas l'exclusion de garanties implicites, ou des limitations de responsabilité ci-dessus, de manière à ce que les exclusions ci-dessus ne soient pas applicables pour vous.
                                </p>
                                
                                </li>

                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fas fa-plus"></i>
                                        04 - Propriété intellectuelle
                                    </a>

                                    <p class="accordion-content">La marque SMS ASSURANCES est une marque exploitée par la société GNA ASSURANCES. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de cette marque est donc prohibée. La structure générale du site, ainsi que les bases de données, les textes, graphiques et images sont la propriété de la société Nouvelle sms immobilie. La majorité des droits d'utilisation des photos du site ont été acquis auprès de sites spécialisés. Certaines photos ont bénéficié d'autorisation de droit de reproduction. Il est interdit de procéder à une extraction qualitativement ou quantitativement substantielle des bases de données mises en ligne sur le site de smsimmobilier.net, ou d'utiliser ces bases de données dans un cadre anormal. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ce site, par quelques procédés que ce soient, sans l'autorisation expresse et préalable de SMS ASSURANCES est interdite et constituerait une contrefaçon au sens de loi sur la propriété intellectuelle.</p>
                                </li>
                                
                                <li class="accordion-item">
                                    <a class="accordion-title" href="javascript:void(0)">
                                        <i class="fas fa-plus"></i>
                                        05 - Liens vers d'autres sites
                                    </a>

                                    <p class="accordion-content">SMS ASSURANCES propose différents liens vers d'autres sites qui peuvent intéresser ses visiteurs. En aucun cas la nouvelle sms immobilier ne peut garantir la fiabilité des informations contenues sur ces sites, leurs mises à jour, leur fiabilité, la qualité de leurs offres ainsi que leur disponibilité.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End FAQ Area -->

<%- include('./partials/footer') %>