<%- include('partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg7">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Assurance Multirisque habitation</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Assurance Multirisques Habitation</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Insurance Details Area -->
        <section class="insurance-details-area ptb-100">
            <div class="container">
                <div class="insurance-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3>Tout savoir sur l'assurance Multirisque Habitation.</h3>

                                <p>Pour la protection de vos biens et de votre famille, SMS Assurance vous propose l’assurance « Multirisques habitation » avec des garanties complètes et innovantes pour vous faciliter la vie au quotidien. Que vous soyez une personne physique ou morale, propriétaire ou locataire notre solution « Multirisques habitation » vous assure : Une garantie de vos biens contre tous les risques de base (vol, incendie, bris de glaces...). Une protection pour vous et votre famille dans le cadre de la responsabilité civile..</p>
                                <p>Le contrat d’assurance multirisques habitation offre à l’assuré des garanties complètes pour protéger son patrimoine familial contre les conséquences d’événements affectant son domicile ou mettant en cause sa responsabilité ou celle des membres de sa famille. Que l’on soit propriétaire ou locataire, ce contrat regroupe les diverses garanties qui répondent aux besoins de chacun et respectent les obligations légales.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="image text-center">
                                <img src="assets/img/services-image/1.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="insurance-details-desc">
                    <h3>Les garanties incluses dans la Multirisque Habitation.</h3>
                    <p>Chez SMS Assurances, nous vous proposons des garanties complètes et des avantages exceptionnels pour vous permettre de sécuriser votre maison et vos biens en cas de sinistre. Nous faisons tous nos efforts pour vous faciliter la vie au quotidien grâce à des solutions innovantes et fiables.</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Incendie</li>
                                <li><i class="fas fa-check"></i> Dommages électriques</li>
                                <li><i class="fas fa-check"></i> Vol</li>
                                <li><i class="fas fa-check"></i> Tempête</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Bris de glace</li>
                                <li><i class="fas fa-check"></i> Dégâts des eaux</li>
                                <li><i class="fas fa-check"></i> Tous risques informatique</li>
                                <li><i class="fas fa-check"></i> Ouragan, Cyclone</li>
                            </ul>
                        </div>
                    </div>

                    <h3>La multirisque habitation pour les particuliers</h3>
                    <p>L’assurance multirisque habitation, parfois nommée simplement MRH, est destinée aux particuliers. Elle rassemble les différentes garanties relatives à une habitation et aux risques de la vie privée. Le contrat multirisque habitation assure notamment les risques liés à l’incendie, à la foudre, aux explosions, aux catastrophes naturelles et technologiques, à certains évènements climatiques, au vol, au dégât des eaux, aux dommages électriques ou encore au bris de vitre.</p>

                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/16.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/17.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/18.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                    <p>La plupart des contrats MRH prévoit de vous assurer contre les frais de réparation des dommages que vous pourriez causer à autrui. Par exemple, si vous cassez la table basse en verre d’un ami, par maladresse, à l’occasion d’une soirée, votre assureur indemnisera, dans les conditions contractuelles (après déduction d’une franchise prévue au contrat par exemple) votre ami dans le cadre de la couverture de votre responsabilité civile au titre de votre contrat MRH.</p>

                    <blockquote class="wp-block-quote">
                        <p>Ne vous inquiétez plus pour votre logement. La Multirisque Habitation assure de façon sécurisée vos biens et votre maison.</p>
                    </blockquote>
                    
                    <p>Que ce soit en direct dans une agence physique ou via Internet, la souscription d'un contrat MRH nécessite au préalable une déclaration du risque à garantir. On entend par là une bonne information de l'assureur qui lui permettra de se faire une opinion précise du risque à assurer : type de logement, nombre de pièces principales, superficie de la maison, superficie des dépendances séparées, nature de la construction, etc. Remplissez ce formulaire de contact pour obtenir un devis.</p>

                    <div class="pearo-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="/life">
                                    <span class="image-prev">
                                        <img src="assets/img/services-image/2.jpg" alt="image">
                                        <span class="post-nav-title">Prec</span>
                                    </span>

                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Assurance Professionnelle</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="/pro">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Assurance Santé</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>

                                    <span class="image-next">
                                        <img src="assets/img/services-image/3.jpg" alt="image">
                                        <span class="post-nav-title">Suiv</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Insurance Details Area -->
<%- include('partials/footer') %>