
<%- include('partials/header') %>
        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg8">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Assurance Santé</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Assurance Santé</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Insurance Details Area -->
        <section class="insurance-details-area ptb-100">
            <div class="container">
                <div class="insurance-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3>L'assurance santé, pour vous et votre famille</h3>

                                <p>Pour vous permettre de gérer efficacement les frais de vos soins, nous avons conçu pour vous une offre complète pour une couverture santé optimale. nous vous apportons la solution idéale pour faire face aux imprévus de la vie, en vous assurant un accompagnement de qualité et des garanties essentielles adaptées à vos besoins. A vous de choisir la solution qui vous correspond !</p>
                                <p>SMS Assurances vous offre une prise en charge pour vos soins de sans (frais médicaux, pharmaceutiques, chirurgicaux, etc…), grâce à une couverture prenant en compte votre état de santé et le taux de couverture voulue. La gestion de la santé est effectuée à travers le réseau MCI-Care.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="image text-center">
                                <img src="assets/img/services-image/3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="insurance-details-desc">
                    <h3>Prises en charge incluses dans l'assurance santé</h3>
                    <p>Vous bénéficiez de nombreuses prises en charge grâce à cette assurance. Pour l'hospitalisation par exemple les éléments suivants sont pris en charge : Frais de chambre, actes et honoraires médicaux, frais accessoires liés à une intervention chirurgicale, frais de séjour de la mère accompagnant un enfant de moins de 05 ans...</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Frais médicaux</li>
                                <li><i class="fas fa-check"></i> Pharmacie </li>
                                <li><i class="fas fa-check"></i> Hospitalisation </li>
                                <li><i class="fas fa-check"></i> Dentaire</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Optique</li>
                                <li><i class="fas fa-check"></i> Dentaire</li>
                                <li><i class="fas fa-check"></i> Accouchements</li>
                                <li><i class="fas fa-check"></i> Autres</li>
                            </ul>
                        </div>
                    </div>

                    <h3>Nous travaillons durement pour la préservation de votre santé</h3>
                    <p>Nous sommes tous conscients que l’avenir est imprévisible et plutôt incertain. Vous ne pouvez pas prédire l’heure de la maladie ou de la blessure; il peut venir aujourd’hui, demain ou n’importe quel jour dans un avenir proche. Les coûts engendrés par une maladie ou des blessures peuvent mettre votre santé financière à l’envers.</p>

                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/19.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/20.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/21.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                    <p>Les gens ont maintenant commencé à prendre la tête dans la planification de leurs propres dépenses de santé. Les gens ont réalisé que la planification de leurs besoins de santé et prendre une précaution appropriée pour couvrir le risque est nécessaire. Cela a entraîné une augmentation des individus pour avoir opté pour l’achat d’une police d’assurance santé pour couvrir ces risques pour la santé.</p>

                    <blockquote class="wp-block-quote">
                        <p>Planifiez votre assurance maladie selon vos besoins de santé ainsi que celle de votre famille et minimisez votre douleur financière.</p>

                        <cite>Tom Cruise</cite>
                    </blockquote>
                    
                    <p>Comment pouvez-vous planifier la prise en charge de votre santé ? C’est très simple en fait. remplissez simplement le formulaire suivant pour être appelé afin d'obtenir un devis pour une assurance santé. L’assurance maladie fournit une couverture pour tous ou quelques-uns de ces besoins de soins de santé et les frais médicaux engagés par une personne.</p>

                    <div class="bg-light p-4 border-3">
                        <h3>Remplissez le formulaire pour obtenir une cotation</h3>
                        <form action="/health" method="POST" onsubmit="merci()">
                            <div class="row">
                                <div class="form-group col">
                                    <input id="username" type="text" class="form-control" name="username" placeholder="Nom et prénoms *" required>
                                </div>
                                <div class="form-group col">
                                    <input type="email" class="form-control" name="email" placeholder="Email *" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="phone" placeholder="Numéro de Téléphone *">
                                </div>
                                <div class="form-group col">
                                    <select name="type" required>
                                        <option selected value="Assurance Santé">ASSURANCE SANTE</option>
                                    </select>
                                    <p>Type d'assurance *</p>
                                </div>
                            </div>
                                <div class="form-group col">
                                    <input type="hidden" class="form-control" name="date" value="<%= currentDate %>">
                                </div>
                            <div class="row p-3">
                                <textarea name="message" class="form-control col" placeholder="Laissez-nous un message (facultatif)" rows="6" style="width: 90%;"></textarea>
                            </div>
                            <button type="submit" class="submitBtn default-btn btn-lg btn-block">Envoyer votre demande <span></span></button>
                            <br>
                            <br>
                            <br>
                            <p class="text-danger text-sm-left">* Les champs marqués avec une astérisque sont obligatoires.</p>
                        </form>
                    </div>

                    <div class="pearo-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="/pro">
                                    <span class="image-prev">
                                        <img src="assets/img/services-image/1.jpg" alt="image">
                                        <span class="post-nav-title">Prec</span>
                                    </span>

                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Multirisques Habitation</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="/travel">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Assurance Voyage</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>

                                    <span class="image-next">
                                        <img src="assets/img/services-image/4.jpg" alt="image">
                                        <span class="post-nav-title">Suiv</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Insurance Details Area -->
<%- include('partials/footer') %>