<%- include('partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg6">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Assurance Individuelle Accident</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Assurance Individuelle Accident</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Insurance Details Area -->
        <section class="insurance-details-area ptb-100">
            <div class="container">
                <div class="insurance-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3>L'individuelle Accident vous accompagne au quotidien.</h3>

                                <p>L’assurance individuelle accident intervient en cas de dommages corporels, d’invalidité (temporaire ou permanente) ou de décès, exceptés les incidents impliquant un véhicule. Elle vous permet entre autres de bénéficier d’une prise en charge des dépenses médicales ou des frais d’obsèques ainsi que le versement d’indemnités journalières. Ces contrats protègent les assurés face aux accidents domestiques, les incidents survenant durant les loisirs ou dans le cadre d’activités privées ou encore les accidents médicaux.</p>
                                <p>Cette assurance peut être souscrite par une entreprise ou de façon individuelle pour couvrir les personnes exposées à des risques accidentels, ce que soit en mission ou dans le cadre de leur vie professionnelle et/ou privée. Les personnes souhaitant renforcer leur programme de prévoyance basique contre les dommages corporels dont elles pourraient être victimes ont également la possibilité de souscrire une assurance individuelle accident.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="image text-center">
                                <img src="assets/img/services-image/6.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="insurance-details-desc">
                    <h3>Les risques couverts par l'individuelle accident</h3>
                    <p>Pour les individus à la recherche d’une prise en charge efficace et complète face aux risques accidentels de la vie quotidienne, l'assurance individuelle accident possède de nombreuses garanties et des avantages innovants.</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Un capital ou une rente en cas d’invalidité permanente ou de décès</li>
                                <li><i class="fas fa-check"></i> Un capital ou une rente  en cas d’invalidité temporaire</li>
                                <li><i class="fas fa-check"></i> Le remboursement de frais médicaux, y compris les frais de prothèse, frais de transport vers un hôpital, frais funéraires, etc</li>
                                <li><i class="fas fa-check"></i> Indemnisation en cas d'accidents causés par la foudre</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Indemnisation en cas d'accident résultant de la pratique des sports en qualité d’amateur</li>
                                <li><i class="fas fa-check"></i> Indemnisation en cas d'accident survenu en cas de légitime défense ou tentative de sauvetage de personnes en danger</li>
                                <li><i class="fas fa-check"></i> Indemnisation en cas d'accident survenant au cours de l’usage et de la conduite des véhicules automobiles et cycle à pédales</li>
                                <li><i class="fas fa-check"></i> Indemnisation en cas de piqûres d’insectes et les morsures d’animaux</li>
                            </ul>
                        </div>
                    </div>

                    <h3>Tous les jours, vivez en paix et en sécurité</h3>
                    <p>Ne vous inquiétez plus pour les petits accidents qui pourraient vous arriver au quotidien. L'individuelle accident vous accompagne et vous couvre. Ne vous inquiétez plus pour les petits accidents qui pourraient vous arriver au quotidien. L'individuelle accident vous accompagne et vous couvre.</p>

                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/15.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/13.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/14.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                    <p>Le contrat d’assurance INDIVIDUELLE ACCIDENT est un produit d’assurance qui couvre tous les risques d’accidents ou de vie professionnelle ou encore privée pouvant subvenir à l’assuré d’origine non intentionnelle, provenant de l’action soudaine d’une cause extérieure et entraînant soit le décès, soit une lésion corporelle.</p>

                    <blockquote class="wp-block-quote">
                        <p>Ne vous inquiétez plus pour les petits accidents qui pourraient vous arriver au quotidien. L'individuelle accident vous accompagne et vous couvre..</p>

                        <cite>SMS Assurances</cite>
                    </blockquote>
                    
                    <p>Si vous souhaitez souscrire un contrat d’assurance individuelle accident chez SMS Assurances, vous devez nous communiquer toutes les circonstances vous concernant et qui sont de nature à faire apprécier par l’assureur, les risques qu’il prend à sa charge. Exemples : votre âge, l’état global de votre santé, vos sports favoris, un descriptif de votre métier, vos loisirs, etc. Merci de remplir le formulaire suivant et nous vous contacterons pour une cotation.</p>

                    <div class="pearo-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="/car">
                                    <span class="image-prev">
                                        <img src="assets/img/services-image/5.jpg" alt="image">
                                        <span class="post-nav-title">Prec</span>
                                    </span>

                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Assurance Auto Moto</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="/pro">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Assurance Professionnelle</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>

                                    <span class="image-next">
                                        <img src="assets/img/services-image/2.jpg" alt="image">
                                        <span class="post-nav-title">Suiv</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Insurance Details Area -->
<%- include('partials/footer') %>