<%- include('partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2><%= post.title %> Titre à remplacer</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Blog Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Blog Details Area -->
        <section class="blog-details-area ptb-100">
            <div class="container">
                <div class="col">
                    <div class="blog-details-desc">
                        <div class="article-image d-flex justify-content-center">
                            <img style="margin: auto;" src="/assets/img/blog-image/1.jpg" alt="image">
                        </div>

                        <div class="article-content">
                            <div class="entry-meta">
                                <ul>
                                    <li><i class="far fa-clock"></i> <a href="#">September 31, 2020</a></li>
                                    <li><i class="fas fa-user"></i> <a href="#">Steven Smith</a></li>
                                </ul>
                            </div>

                            <h3>2020 Insurance Trends And Possible Challenges</h3>

                            <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                            <blockquote class="wp-block-quote">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

                                <cite>Tom Cruise</cite>
                            </blockquote>

                            <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>

                            <h3>Setting the mood with incense</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

                            <h3>The Rise Of Smarketing And Why You Need It</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                        </div>

                        <div class="article-footer">
                            <div class="article-tags">
                                <span><i class="fas fa-bookmark"></i></span>

                                <a href="#">Fashion</a>,
                                <a href="#">Games</a>,
                                <a href="#">Travel</a>
                            </div>

                            <div class="article-share">
                                <ul class="social">
                                    <li><span>Share:</span></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="pearo-post-navigation">
                            <div class="prev-link-wrapper">
                                <div class="info-prev-link-wrapper">
                                    <a href="#">
                                        <span class="image-prev">
                                            <img src="/assets/img/services-image/1.jpg" alt="image">
                                            <span class="post-nav-title">Prev</span>
                                        </span>
    
                                        <span class="prev-link-info-wrapper">
                                            <span class="prev-title">Global Trends in the Life Insurance Industry</span>
                                            <span class="meta-wrapper">
                                                <span class="date-post">January 21, 2020</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
    
                            <div class="next-link-wrapper">
                                <div class="info-next-link-wrapper">
                                    <a href="#">
                                        <span class="next-link-info-wrapper">
                                            <span class="next-title">The Best Car Insurance Companies in 2019</span>
                                            <span class="meta-wrapper">
                                                <span class="date-post">January 21, 2020</span>
                                            </span>
                                        </span>
    
                                        <span class="image-next">
                                            <img src="/assets/img/services-image/3.jpg" alt="image">
                                            <span class="post-nav-title">Next</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
        <!-- End Blog Details Area -->

<%- include('partials/footer') %>