<%- include('partials/header') %>

        <!-- Start Page Title Area -->
        <div class="page-title-area page-title-bg10">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="page-title-content">
                            <h2>Assurance multirisques professionnelle</h2>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li>Assurance multirisques professionnelle</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start Insurance Details Area -->
        <section class="insurance-details-area ptb-100">
            <div class="container">
                <div class="insurance-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="content">
                                <h3>La multirisque professionnelle pour couvrir l'activité de votre entreprise</h3>

                                <p>L'assurance multirisque professionnelle est une assurance complète qui couvre les biens mobiliers et immobiliers d’une entreprise, ainsi que sa responsabilité. C’est une assurance pour professionnels indispensable car elle garantit les biens et l’activité de l’entreprise, assurant ainsi sa pérennité.</p>
                                <p>L’assurance multirisque professionnelle permet de couvrir les biens et responsabilités d’une entreprise. Pratiquement, les commerçants, les entreprises individuelles, les artisans, les professions libérales, les professions médicales, les entreprises en BTP, les entreprises individuelles, les exploitations agricoles, l’auto-entrepreneur ainsi que les associations peuvent souscrire une telle assurance.</p>
                                <p>Ainsi, avec cette couverture, les entreprises peuvent faire face aux charges lorsque l’activité est interrompue et l’assurance peut intervenir après un sinistre grave..</p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="image text-center">
                                <img src="assets/img/services-image/2.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="insurance-details-desc">
                    <h3>Les risques couverts par la multirisque professionnelle:</h3>
                    <p>Que ce soit pour les commerçants, les artisans et entreprises du bâtiment, les professionnels de l'automobile ou autre, l'assurance multirisque professionnelle couvre la majorité des risques liés à vos activités.</p>

                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Incendies</li>
                                <li><i class="fas fa-check"></i> Explosions et risques assimilés</li>
                                <li><i class="fas fa-check"></i> Dégâts des eaux</li>
                                <li><i class="fas fa-check"></i> Vol</li>
                            </ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li><i class="fas fa-check"></i> Bris de glace et enseignes lumineuses</li>
                                <li><i class="fas fa-check"></i> Responsabilité Civile Exploitation et après livraison</li>
                                <li><i class="fas fa-check"></i> Actes de vandalisme</li>
                                <li><i class="fas fa-check"></i> Tempête, grêle, neige, catastrophe naturelle</li>
                            </ul>
                        </div>
                    </div>

                    <h3>Sécurisez votre activité professionnelle</h3>
                    <p>L’assurance multirisque professionnelle bien que n'étant pas obligatoire peut couvrir les bâtiments, les matériels, les équipements, les marchandises et les stocks d’une entreprise contre les risques suivants : le vol et le vandalisme, l’incendie, l’explosion, la tempête, les dégâts d’eau, le grêle, le bris de glace, les dommages électriques, …etc..</p>

                    <ul class="wp-block-gallery columns-3">
                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/25.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/26.jpg" alt="image">
                            </figure>
                        </li>

                        <li class="blocks-gallery-item">
                            <figure>
                                <img src="assets/img/services-image/27.jpg" alt="image">
                            </figure>
                        </li>
                    </ul>

                    <p>L’assurance multirisque professionnelle peut offrir des garanties complètes et adaptées aux besoins de chaque entreprise. De fait, elle peut être choisie pour la protection des locaux professionnels, la protection financière, les pertes d’exploitation, la caution financière, les matériels et les données informatiques, la protection juridique professionnelle, la responsabilité civile de l’entreprise, l’assurance-crédit ainsi que l’assistance en cas de sinistre et la période de surcroît d’activité permettant d’augmenter les indemnités journalières et la valeur des biens assurés</p>

                    <blockquote class="wp-block-quote">
                        <p>L’Assurance Multirisque professionnelle est une solution sur-mesure qui vous permet de protéger votre activité contre les différents risques.</p>

                        <cite>SMS Assurances.</cite>
                    </blockquote>
                    
                    <p>L’assurance vient directement dédommager votre entreprise lorsqu’un risque survient, non seulement pour le remplacement du bien, du stock ou de l’équipement endommagé, mais aussi pour les conséquences de l’incident notamment sur l’activité. Un calcul est alors effectué pour déterminer précisément le manque à gagner occasionné par le sinistre après la reprise de l’activité, et l’assurance indemnise tout ou partie de ce manque à gagner. Remplissez ce formulaire pour une cotation multirisque professionnelle.</p>

                    <div class="bg-light p-4 border-3">
                        <h3>Remplissez le formulaire pour obtenir une cotation</h3>
                        <form action="/pro" method="POST" onsubmit="merci()">
                            <div class="row">
                                <div class="form-group col">
                                    <input id="username" type="text" class="form-control" name="username" placeholder="Nom et prénoms *" required>
                                </div>
                                <div class="form-group col">
                                    <input type="email" class="form-control" name="email" placeholder="Email *" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="text" class="form-control" name="phone" placeholder="Numéro de Téléphone *">
                                </div>
                                <div class="form-group col">
                                    <select name="type" required>
                                        <option selected value="Assurance Multirisque Professionnelle">ASSURANCE MULTIRISQUE PROFESSIONNELLE</option>
                                    </select>
                                    <p>Type d'assurance *</p>
                                </div>
                            </div>
                            <div class="form-group col">
                                <input type="hidden" class="form-control" name="date" value="<%= currentDate %>">
                            </div>
                            <div class="row p-3">
                                <textarea name="message" class="form-control col" placeholder="Laissez-nous un message (facultatif)" rows="6" style="width: 90%;"></textarea>
                            </div>
                            <button type="submit" class="submitBtn default-btn btn-lg btn-block">Envoyer votre demande <span></span></button>
                            <br>
                            <br>
                            <br>
                            <p class="text-danger text-sm-left">* Les champs marqués avec une astérisque sont obligatoires.</p>
                        </form>
                    </div>

                    <div class="pearo-post-navigation">
                        <div class="prev-link-wrapper">
                            <div class="info-prev-link-wrapper">
                                <a href="/life">
                                    <span class="image-prev">
                                        <img src="assets/img/services-image/6.jpg" alt="image">
                                        <span class="post-nav-title">Prec</span>
                                    </span>

                                    <span class="prev-link-info-wrapper">
                                        <span class="prev-title">Individuelle Accident</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="next-link-wrapper">
                            <div class="info-next-link-wrapper">
                                <a href="/habitation">
                                    <span class="next-link-info-wrapper">
                                        <span class="next-title">Multirisques Habitation</span>
                                        <span class="meta-wrapper">
                                            <span class="date-post">03 Juillet 2020</span>
                                        </span>
                                    </span>

                                    <span class="image-next">
                                        <img src="assets/img/services-image/1.jpg" alt="image">
                                        <span class="post-nav-title">Suiv</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Insurance Details Area -->
<%- include('partials/footer') %>